<h1>Genres</h1>
<ul>
<% @genres.each do |g| %>
    <li>
    <%= link_to g.name, edit_genre_path(g) %> 
    <%= link_to "Delete", g, class: "btn btn-warning", method: :delete,
            data: { confirm: "Are you sure you want to delete #{g.name}? "} %> 
    </li>

<%end%>
</ul>
<div class="actions">
 <%= link_to "New Genre", new_genre_path, class: "btn btn-success" %>
 </div>