<footer>
  <p>
    Made in <a href="https://pragmaticstudio.com">The Pragmatic Studio</a>
  </p>
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="🚀 Check out this Rails app!" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</footer>
