 <footer>
    <p>
      Copyright&copy; (2012 - <%= Time.now.year %>) <a href="https://www.salusitgroup.com/">Salus IT Group LLC</a>
      <blockquote>"Bitch, Where's my Money!?"</blockquote></p>

    </footer>
